*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input,button{
	font-family: inherit;
}

button::nth-child(2){
	margin-left: 1rem;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body{
	background: #000;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: 'Funnel Display', sans-serif;
	font-weight: 500;
}

#bgimg{
	object-fit: cover;
	object-position: center;
	display: block;
	width: 100%;
	height: 100%;
}

#bgopacity{
	position: fixed;
	opacity: 0.6;
	z-index: -1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	object-fit: cover;
	object-position: center;
}

#main{
	text-align: center;
}

input{
	font-size: 100px;
	width: 120px;
	white-space: nowrap;
	text-align: center;
	background: transparent;
	color: inherit;
	outline: none;
	border: none;
	font-weight: 500;
}

#main > div{
	margin-top: 1rem;
}

#dbldot{
	font-size: 64px;
	letter-spacing: 0;
	vertical-align: text-bottom;
}

button{
	font-size: 17px;
	border-radius: 2rem;
	outline: 1px solid transparent;
	border: none;
	color: #000;
	cursor: pointer;
	padding: 10px 0;
	-webkit-tap-highlight-color: transparent;
	transition: all 0.2s ease-in-out;
	background-color: #fff;
	width: 100px;
}

button:hover{
	background-color: rgba(0, 0, 0, 0.4) !important;
	color: #fff;
	outline-color: #fff;
}

button:active{
	background: rgba(0, 0, 0, 0.5);
}

iframe{
	position: absolute;
	bottom: 2.5rem;
	left: 2.5rem;
}

#modal{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: 1;
}

#modal-content{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgba(0, 0, 0, 0.8);
	padding: 2rem;
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1rem;
}

#modal-content #buttongroup{
	align-self: flex-end;
}

#bgs{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

#bgs img{
	object-fit: cover;
	object-position: center;
	display: block;
	width: 100px;
	height: 100%;
	cursor: pointer;
	border-radius: 1rem;
	padding: 0.25rem;
	aspect-ratio: 4/3;
}

.selected{
	outline: 2px solid #fff;
}

#select-bg{
	position: fixed;
	bottom: 2.5rem;
	right: 2rem;
	background-color: transparent;
	outline: 1px solid #fff;
}

#hint{
	padding: 1rem;
	background: rgba(0, 0, 0, 0.8);
	border-radius: 1rem;
	color: #fff;
}

@media only screen and (max-width: 695px){
	iframe{
		bottom: 2rem;
		left: 50%;
		width: 92% !important;
		translate: -50%;
	}
	button:hover{
		background: transparent !important;
	}
	#select-bg{
		bottom: 8rem;
	}
}
