*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
	transition: all 0.2s ease-in-out;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input,button,select{
	font-family: inherit;
}

.fade {
	transition: opacity 0.5s ease, transform 0.5s ease;
	opacity: 1;
  }
  
  .hidden.fade {
	opacity: 0;
	transform: scale(0.98);
	pointer-events: none;
  }

.hidden{
	visibility: hidden;
}

select{
	font-size: 17px;
	color: #fff;
	background: transparent;
	outline: none;
	padding: 0.5rem 0.75rem;
	border-radius: 0.5rem;
	-webkit-appearance: none;
	appearance: none;
}

select option{
	color: #fff;
	background: #000;
}

button::nth-child(2){
	margin-left: 1rem;
}

body{
	background: #000;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: 'Funnel Display', sans-serif;
	font-weight: 500;
	max-height: 100vh;
	overflow: hidden;
}

#bgimg{
	object-fit: cover;
	object-position: center;
	display: block;
	width: 100%;
	height: 100%;
}

#bgopacity{
	position: fixed;
	opacity: 0.6;
	z-index: -1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	object-fit: cover;
	object-position: center;
}

.header{
	text-align: center;
	position: fixed;
	top: 1.5rem;
	right: 2rem;
	z-index: 0;
}

input[type="radio"]{
	display: none;
}

input[type="radio"] + label{
	cursor: pointer;
	font-size: 15px;
	background-color: transparent;
	color: #fff;
	width: 7.5rem;
	margin-right: 0.5rem;
	display: inline-block;
	outline-color: #fff;
}

input[type="radio"]:hover + label{
	background-color: #fff !important;
	color: #000;
}

input[type="radio"]:checked + label{
	background-color: #fff;
	color: #000;
}

.header button{
	font-size: 20px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	margin-left: 1rem;
}

.header button:hover{
	opacity: 0.8;
}

.main{
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

input{
	font-size: 6rem;
	width: 8rem;
	white-space: nowrap;
	text-align: center;
	background: transparent;
	color: inherit;
	outline: none;
	border: none;
	font-weight: 500;
}

#dbldot{
	font-size: 4rem;
	letter-spacing: 0;
	vertical-align: text-bottom;
}

.btn{
	font-size: 17px;
	border-radius: 2rem;
	outline: 1px solid transparent;
	border: none;
	color: #000;
	cursor: pointer;
	padding: 10px;
	-webkit-tap-highlight-color: transparent;
	transition: all 0.2s ease-in-out;
	background-color: #fff;
	width: 100px;
}

.btn:hover{
	background-color: rgba(0, 0, 0, 0.4) !important;
	color: #fff;
	outline-color: #fff !important;
}

iframe{
	position: absolute;
	bottom: 2.5rem;
	left: 2.5rem;
}

#modal{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: 1;
}

#modal-content{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgba(0, 0, 0, 0.8);
	padding: 2rem;
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1rem;
}

#modal-content #modal-buttongroup{
	align-self: flex-end;
}

#bgs{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	flex-wrap: wrap;
}

#bgs img{
	object-fit: cover;
	object-position: center;
	display: block;
	width: 100px;
	height: 100%;
	cursor: pointer;
	border-radius: 1rem;
	padding: 0.25rem;
	aspect-ratio: 4/3;
}

.selected{
	outline: 2px solid #fff;
}

#hint{
	padding: 1rem;
	background: rgba(0, 0, 0, 0.8);
	border-radius: 1rem;
	color: #fff;
}

.header button{
	background-color: transparent;
	outline: 1px solid #fff;
	border: none;
	color: #fff;
	outline: none;
}

@media only screen and (max-width: 695px){
	iframe{
		bottom: 2rem;
		left: initial;
		width: 92% !important;
	}
	input{
		font-size: 4rem;
		width: 5.5rem;
	}
	#dbldot{
		font-size: 2.5rem;
	}
	input[type="radio"] + label{
		font-size: 14px;
		width: 6.5rem;
		margin-right: 0.25rem;
	}
	button:hover{
		background: transparent !important;
	}
	#modal-content{
		width: 90%;
	}
}

@media only screen and (max-width: 695px) and (orientation: landscape){
	iframe{
		bottom: 1rem;
		right: 1rem;
		width: 48% !important;
	}
}
